body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-size: 24px;
  margin-right: 36px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.layout-body {
  padding-top: 24px;
  padding-bottom: 24px;
}
